/* MAX SCREEN */
@media screen and (min-width: 1280px) {
    .burger-button,
    button[id="burgerButton"] {
        display: none;
    }

    .main-nav h2 a {
        display: none;
    }

    main section,
    footer {
        padding: 8.125em 0; /* 130px / 16px */
        /*border: 1px solid red;*/
    }

    .sub-list {
        display: none;
    }

    .hero-section {
        min-height: 100vh;
    }

    .hero-section h2 {
        font-size: 4.375em; /* 70 / 16 */
    }

    .list-info:before {
        content: '';
        left: 0.938em; /* 15 / 16 */
        right: 0.938em; /* 15 / 16 */
        border-radius: 7px;
        top: 3.75em; /* 60 / 16 */
        bottom: 3.75em; /* 60 / 16 */
        border: 1px solid var(--dark-grey);
        position: absolute;
        z-index: -1;
    }

    .imgs-li {
        margin-left: 5em; /* 80 / 16 */
        max-width: 50%;
    }

    .secondary-img {
        left: -25%;
    }

    .skill-section figure {
        max-width: 38.188em; /* 611 / 16 */
    }

    .footer-contact-list {
        padding: 3.75em 5em; /* 60 / 16 et 80 / 16 */
    }

    .footer-contact-list li:nth-child(2) {
        margin: 1.25em 0; /* 20 / 16 */
    }

    .footer-contact-section article p {
        max-width: 16.875em; /* 270 / 16 */
    }

    footer {
        padding: 3.75em 0 5em 0; /* 80 / 16 et 60 / 16 */
    }

    footer nav {
        padding-bottom: 3.75em; /* 60px */
    }

}

/* MID SCEEN */
@media screen and (max-width: 1280px) and (min-width: 991px) {
    .burger-button,
    button[id="burgerButton"] {
        display: none;
    }

    .main-nav h2 a {
        display: none;
    }

    main section {
        padding: 5em 0; /* 130px / 16px */
        /*border: 1px solid red;*/
    }

    .sub-list {
        display: none;
    }

    .hero-section {
        min-height: 100vh;
    }

    .hero-section h2 {
        font-size: 62px;
    }

    .list-info:before {
        content: '';
        left: 0.938em; /* 15 / 16 */
        right: 0.938em; /* 15 / 16 */
        border-radius: 7px;
        top: 3.75em; /* 60 / 16 */
        bottom: 3.75em; /* 60 / 16 */
        border: 1px solid var(--dark-grey);
        position: absolute;
        z-index: -1;
    }

    .imgs-li {
        margin-left: 5em; /* 80 / 16 */
        max-width: 50%;
    }

    .main-img {
        max-height: 40.625em; /* 650 / 16 */
        max-width: 30.5em; /* 488 / 16 */
    }

    .secondary-img {
        left: -18%;
        width: 45%;
    }

    .skill-section figure {
        max-width: 50%; /* 611 / 16 */
    }

    .footer-contact-list {
        padding: 2.5em; /* 40 / 16 */
    }

    .footer-contact-list li:nth-child(2) {
        margin: 1em 0; /* 16 */
    }

    .footer-list a {
        font-size: 1.2em;
    }

    footer .contact-list {
        padding-bottom: 3.125em; /* 50 / 16 */
    }

    footer {
        padding-top: 2.5em;
    }

    footer nav {
        padding-bottom: 1.875em; /* 60px */
    }
}

/* SMALL SCREEN */
@media screen and (max-width: 991px) {
    /* BURGER MENU */
    input[type="checkbox"] {
        appearance: none;
        margin: 0;
        width: 30px;
        background-image: url("../img/icons/hamburger.svg");
        background-size: contain;
        background-position: center;
        border-bottom: none;
        cursor: pointer;
        /*background-color: red;*/
    }

    button[id="burgerButton"] {
        text-indent: -9999px;
        display: inline-block;
        margin: 0;
        width: 30px;
        line-height: 30px;
        background-image: url("../img/icons/hamburger.svg");
        background-size: contain;
        background-position: center;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .close-burger-button {
        text-indent: -9999px;
        display: inline-block;
        margin: 0;
        width: 30px;
        line-height: 30px;
        background-image: url("../img/icons/close.svg");
        background-size: contain;
        background-position: center;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .close-burger-button {
        position: absolute;
        font-size: 30px;
        right: 15px;
        top: 17px;
    }

    .opened {
        transform: translate(0);
    }

    .burger-button:checked {
        position: fixed;
        top: 19px;
        left: 270px;
        z-index: 4;
        background-image: url("../img/icons/close.svg");
        /*transition: .3s left;*/
    }

    .main-nav {
        width: 320px;
        border-right: 1px solid var(--dark-grey);
        z-index: 3;
        position: relative;
    }

    .main-nav h2 a {
        padding: 15px;
        letter-spacing: 0.027em;
        display: inline-block;
    }

    .main-nav h2 {
        margin-bottom: 15px;
        border-bottom: 1px solid var(--dark-grey);
    }

    .sub-list {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 20px;
        /*background-color: red;*/
    }

    .sub-list > li {
        /*padding: 10px 0;*/
    }

    .sub-list > li a {
        font-size: 15px;
        margin: 0;
    }

    .main-list li.dropdown-btn,
    .main-list li > a {
        padding: 10px 0;
    }

    .main-list .dropdown-btn,
    .main-list a {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .main-list .dropdown-btn:after {
        content: url("../img/icons/arrow-menu.svg");
        display: inline-block;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        position: absolute;
        right: 0;
    }

    .main-list .dropdown-btn:after:hover {
        transform: rotate(0);
    }

    .main-list {
        margin: 0;
        align-items: flex-start;
        padding: 0 15px;
    }

    .close {
        transform: translate(-100%);
    }

    .close-list {
        display: none;
    }

    .main-nav {
        flex-direction: column;
        background-color: var(--black);
        transition: .2s ease-out;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        margin-right: 0;
    }

    .main-list {
        flex-direction: column;
        overflow-y: scroll;
    }

    .btn-list {
        justify-content: center;
    }

    .burger-button:checked ~ .main-nav {
        position: fixed;
        transform: translate(0);
    }

    section {
        padding: 80px 0;
    }

    /* HERO SECTION */
    .hero-section {
        padding-top: 160px;
        padding-bottom: 80px;
        min-height: auto;
    }

    .hero-section h2 {
        font-size: 48px;
        margin: 10px 0;
    }

    .hero-section a {
        margin-top: 40px;
    }

    /* CONTACT SECTION */
    .contact-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .contact-list li {
        align-items: center;
    }

    .contact-list li:last-child {
        grid-column: span 2;
        justify-self: center;
        flex-direction: column;
        align-items: center;
    }

    .contact-list li:last-child div {
        display: flex;
        flex-direction: column;
        /*width: 100%;*/
        align-items: center;
        margin: 0 0 10px 0;
    }

    .contact-list li:last-child div h3 {
    }

    /* ABOUT SECTION */
    .about-info {
        flex-direction: column;
    }

    .list-info {
        flex-direction: column;
    }

    .list-info > li {
        width: 100%;
    }

    .secondary-img {
        top: 5%;
        left: 1%;
    }

    .third-img {
        right: 1%;
    }

    .main-img {
        max-height: 480px;
    }

    .about-text {
        padding: 40px 0;
        text-align: center;
    }

    /* OPINION SECTION */
    .opinion-section {
        grid-template-columns: 1fr;
        grid-template-areas:"title"
                            "paragraph"
                            "card";
        justify-items: center;
        row-gap: 40px;
        text-align: center;

    }
    .opinion-section h2 {
        grid-area: title;
        margin: 10px 0;
    }
    .opinion-section p {
        grid-area: paragraph;
        margin: 0;
    }

    .opinion-cards {
        grid-area: card;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        text-align: left;
    }

    .opinion-cards li:last-child {
        grid-column: span 2;
        justify-self: center;
        width: 50%;
    }

    .skill-section article {
        flex-direction: column;
        row-gap: 60px;
    }

    .cards-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    .cards-list .formation-card:last-child {
        grid-column: span 2;
        width: 50%;
        justify-self: center;
    }

    /* FOOTER CONTACT */
    .footer-contact-list {
        padding: 40px
    }

    /* FOOTER */
    footer nav {
        flex-direction: column;
        text-align: center;
        padding: 60px 50px;
        row-gap: 20px;
    }

    .footer-list {
        width: 100%;
    }
    .social-list {
        margin-top: 30px;
        justify-content: center;
    }

    footer form h3 {
        text-align: center;
    }
}

@media screen and (max-width: 770px) {
    .hero-section {
        padding-bottom: 120px;
    }

    .hero-section h2 {
        font-size: 44px;
    }

    .contact-section {
        padding: 40px 0;
    }

    .contact-list {
        grid-template-columns: 1fr;
    }

    .contact-list li:last-child {
        grid-column: auto;
    }

    .main-img {
        object-fit: contain;
        height: 360px;
        width: 100%;
    }

    .secondary-img {
        left: 3%;
        width: 35%;
    }
    .third-img {
        right: 4%;
        width: 35%;
    }

    .about-text {
        padding: 30px;
    }

    h2 {
        font-size: 40px;
        margin: 10px 0;
    }

    main section {
        padding: 60px 0;
    }

    .opinion-cards {
        grid-template-columns: 1fr;
    }

    .opinion-cards > li {
        text-align: center;
    }

    .opinion-cards li:last-child {
        grid-column: auto;
        width: 100%;
    }

    .skill-section {
        padding: 60px 15px;
    }

    .skill-section article {
        padding: 0;
        row-gap: 0;
    }

    .skill-section > p {
        margin-bottom: 2.3em;
    }

    .skill-section article img {
        min-height: auto;
    }

    .formation-section {
        padding-right: 15px;
        padding-left: 15px;
    }

    .cards-list {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .cards-list .formation-card:last-child {
        grid-column: 1;
        width: 100%;
    }

    .footer-contact-list {
        align-items: center;
        text-align: center;
        background-size: contain;
    }

    .footer-contact-list h3 {
        margin: 10px 0;
    }

    .footer-list {
        flex-direction: column;
    }

    .footer-list > li {
        width: 100%;
    }

    .footer-list a {
        padding: 20px 0;
        width: 100%;
    }

    footer .contact-list {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 770px) {
    .main-img {
        object-fit: cover;
        width: 75%;
    }

    .imgs-li > figure {
        display: flex;
        justify-content: center;
    }

    .about-text h3 {
        margin: 10px 0;
    }

    .about-text {
        padding: 20px;
    }

    .skills-list > li {
        text-align: center;
    }

    .footer-contact-list {
        padding: 20px;
    }
}

