@media screen and (479px <= width <= 767px) {
    .main-img {
        object-fit: contain;
    }

    .hero-title {
        max-width: 540px;
    }

    .skills-list {
        text-align: left;
    }
}

@media screen and (767px <= width <= 1050px) {
    .section {
        padding: 80px 15px;
    }

    .base-container {
        width: 100%;
        padding: 0;
    }

    .hero-section {
        padding-bottom: 80px;
    }

    .hero-title {
        font-size: 48px;
        max-width: 540px;
    }

    .contact-title {
        font-size: 18px;
    }

    .main-img {
        object-fit: cover;
    }

    .img-wrapper {
        width: 100%;
    }

    .main-img-wrapper {
        height: 480px;
        width: 100%;
    }

    .list-info {
        padding: 0;
    }

    .secondary-img,
    .third-img {
        width: auto;
    }

    .secondary-img {
        left: 1%;
    }

    .third-img {
        right: 1%;
    }

    .skills-list {
        text-align: left;
    }

    .opinion-wrapper,
    .cards-list,
    .contact-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }

    .opinion-card {
        text-align: left;
    }

    .opinion-card:last-child,
    .formation-card:last-child,
    .contact-list li:last-child {
        grid-column: span 2;
        justify-self: center;
        width: 50%;
    }

    .formation-section {
        padding-top: 0;
    }

    .footer-contact-section {
        padding-top: 0;
    }

    .footer-contact-list {
        padding: 40px;
        text-align: left;
        background-size: contain;
        background-position: right;
    }

    .footer-list {
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer .navbar-title {
        margin-bottom: 30px;
    }

}

@media screen and (1050px <= width) {
    header {
        padding: 15px 0;
    }

    .section {
        padding: 80px 0;
    }

    .base-container {
        margin: auto;
        max-width: 1200px;
        padding: 0 15px;
    }

    .header-list {
        margin: auto;
        max-width: 1200px;
        padding: 0 15px;
    }

    .main-nav {
        background-color: transparent;
        position: initial;
        flex-direction: row;
        transform: translate(0);
        min-width: auto;
        border-right: none;
    }

    button[id="burgerButton"],
    .burger-wrapper {
        display: none;
    }

    .dropdown-btn,
    .main-link {
        padding: 20px 15px;
    }

    .dropdown-btn:hover > h3 {
        color: var(--gray);
    }

    .dropdown-btn:after {
        content: '';
    }

    .main-list {
        flex-direction: row;
        align-items: center;
        padding-left: 0;
        margin-right: 20px;
        overflow-y: initial;
    }

    .btn-list {
        flex-direction: row;
        align-items: center;
        margin: 0;
    }

    .dropdown-btn {
        display: flex;
        flex-direction: column;
    }

    .dropdown-btn:hover .sub-list {
        display: block;
        height: auto;
        position: absolute;
        background-color: black;
        border: 1px solid var(--dark-grey);
        padding: 15px 20px;
        border-radius: 7px;
        transform: translateY(20px);
        width: 200px;
    }

    .sub-list-wrapper {
        display: flex;
        transition: none;
    }

    .sub-list-wrapper > ul {
        overflow: visible;
    }

    .sub-list > li {
        align-items: center;
    }

    .sub-list-link:hover {
        color: var(--gray);
    }

    .sub-list-link:before {
        display: inline-block;
        content: '';
        width: 0;
        height: 1px;
        background-color: var(--gray);
        transition: .3s;
        vertical-align: middle;
    }

    .sub-list > li > a:hover:before {
        width: 15px;
        margin-right: 13px;
    }

    .sub-list {
        display: none;
    }

    /* HERO SECTION */
    .hero-section {
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
    }

    .hero-title {
        margin: 0 auto 60px auto;
        max-width: 1020px;
        font-size: 62px;
        width: 50%;
    }

    /* CONTACT SECTION */
    .contact-section {
        padding: 50px 0 40px 0;
    }

    .contact-list {
        margin: auto;
        flex-direction: row;
        max-width: 1200px;
        padding: 0 15px;
        justify-content: space-between;
    }

    .contact-list > li {
        align-items: flex-start;
    }

    .contact-list > li:last-child {
        flex-direction: row;
        text-align: left;
    }

    .contact-title {
        font-size: 18px;
    }

    .contact-list > li:last-child {
        align-items: center;
    }

    .contact-mail-wrapper {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 3.75em;
    }

    .about-wrapper {
        width: 50%;
        text-align: left;
        align-items: initial;
    }

    .about-info {
        padding: 0 15px;
        margin: auto;
        max-width: 1200px;
    }

    .about-link {
        margin-top: 20px;
    }

    .list-info {
        flex-direction: row;
        margin: 0;
        padding: 0;
        max-width: initial;
        grid-column-gap: 60px;
        position: relative;
    }

    .list-info:before {
        content: '';
        left: 0; /* 15 / 16 */
        right: 0; /* 15 / 16 */
        border-radius: 7px;
        top: 3.75em; /* 60 / 16 */
        bottom: 3.75em; /* 60 / 16 */
        border: 1px solid var(--dark-grey);
        position: absolute;
        z-index: -1;
    }

    .main-img-wrapper {
        width: 100%;
        height: 650px;
    }

    .img-wrapper {
        margin-left: 5em;
    }

    .secondary-img {
        width: 50%;
        top: 10%;
        left: -18%;
    }

    .third-img {
        width: 50%;
        bottom: 3%;
        right: -15%;
    }

    /* OPINION SECTION */
    .opinion-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 80px;
        padding: 80px 15px;
        max-width: 1200px;
        margin: auto;
        text-align: left;
        border-bottom: none;
    }

    .opinion-wrapper {
        grid-column: span 2;
        flex-direction: row;
        column-gap: 20px;
    }

    /* SKILLS SECTION */
    .skill-section {
        border-top: 1px solid var(--dark-grey);
    }

    .skill-section > h2,
    .skill-section > p {
        width: 50%;
    }

    .skill-section > p {
        margin-bottom: 60px;
    }

    .skills-wrapper {
        display: flex;
        column-gap: 60px;
    }

    .skills-img-wrapper {
        /*display: flex;*/
        width: 55%;
    }

    .skills-img-wrapper img {
        min-height: 100%;
        object-fit: cover;
    }

    .skills-list {
        text-align: left;
        width: 45%;
        row-gap: 10px;
    }

    .skills-list > li {
        display: flex;
        flex-direction: column;
    }

    /* FORMATION SECTION */
    .formation-section {
        padding-top: 0;
    }

    .formation-section > h2,
    .formation-section > p {
        width: 50%;
    }

    .formation-section > p {
        margin-bottom: 60px;
    }

    .cards-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }

    /* FOOTER CONTACT SECTION */
    .footer-contact-section {
        padding-top: 0;
    }

    .footer-contact-wrapper {
        width: 100%;
    }

    .footer-contact-list {
        width: 100%;
        padding: 40px;
        text-align: left;
        background-size: contain;
        background-position: right;
    }

    /* FOOTER SECTION */
    footer {
        padding: 60px 0;
    }

    .footer-nav {
        padding: 0 15px;
        margin: 0 auto 40px auto;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer-nav .navbar-title {
        margin-bottom: 0;
    }

    .footer-list {
        flex-direction: row;
        margin-bottom: 0;
        column-gap: 40px;
    }

    .social-list {
        margin-top: 0;
        width: auto;
    }

    .footer {
        padding-top: 50px;
    }

    .footer > li:last-child {
        width: 50%;
    }
}

@media screen and (width > 1279px) {
    .section {
        padding: 130px 0;
    }

    .hero-title {
        font-size: 70px;
    }

    .skill-section > h2,
    .skill-section > p {
        width: 40%;
        word-wrap: initial;
        hyphens: initial;
    }

    .formation-section,
    .footer-contact-section {
        padding-top: 0;
    }

    .cards-list,
    .opinion-wrapper {
        grid-column-gap: 40px;
    }

    .footer-contact-list {
        padding: 60px 80px;
    }

    .footer-contact-list h3 {
        font-size: 34px;
    }

    .footer-contact-list > li {
        width: 30%;
    }

    .footer-contact-list > li:last-child {
        margin-top: 0;
    }

    footer {
        padding: 80px 0 60px 0;
    }

    .footer-nav {
        margin-bottom: 70px;
    }
}