/*----------*/
/*  DEFAULT */
/*----------*/
:root {
    --black: #000000;
    --dark-grey: #282828;
    --gray: #B6B6B6;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    color: var(--white);
    background: var(--black);
}

a {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    line-height: 1.2em;
}

p {
    font-family: "DM Sans", sans-serif;
    font-size: 1.125em; /* 18px / 16px */
    color: var(--gray);
}

img {
    display: block;
    margin: 0;
    border-radius: 7px;
}

.hidden {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main section,
footer {
    padding: 8.125em 0; /* 130px / 16px */
    /*border: 1px solid red;*/
}

.header-list,
section > article,
.contact-list,
.cards-list,
.contact-section > article,
footer nav,
footer > ul {
    display: flex;
    max-width: 75em; /* 1200px / 16px */
    margin: 0 auto;
    padding: 0 0.938em; /* 15px / 16px */
    /*border: 1px solid greenyellow;*/
}

h2,
.about-title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.625em; /* 42px / 16px */
    font-weight: 400;
    line-height: 1.15em;
    color: var(--white);
    margin: 0.625em 0; /* 10px / 16px */
}

h3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.125em; /* 18px / 16px */
    font-weight: 400;
    line-height: 1.2em;
    color: var(--white);
    margin: 0.625em 0; /* 10px / 16px */
}

p,
address,
.mail-a,
small {
    font-family: "DM Sans", sans-serif;
    font-size: 1em; /* 16px */
    font-weight: 400;
    line-height: 1.43em;
    color: var(--gray);
    margin: 0.625em 0; /* 10px / 16px */
}
/*----------------------*/
/* SCROLL TO TOP BUTTON */
/*----------------------*/
.top-btn {
    z-index: 2;
    text-indent: -9999px;
    position: fixed;
    min-width: 3.438em; /* 55px / 16px */
    line-height: 3.438em; /* 55px / 16px */
    background-color: var(--white);
    color: var(--black);
    bottom: 10%;
    left: 5%;
    background-image: url("../img/icons/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    border-radius: 22px;
    transition: 0.3s;
    border: 1px solid var(--white);
}

.top-btn:hover {
    background-image: url("../img/icons/arrow-down-hover.svg");
    background-color: var(--black);

}
/*--------*/
/* INPUTS */
/*--------*/
input {
    font-size: 1em; /* 16px */
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    color: var(--white);
    padding: 0.938em 0; /* 15px / 16px */
    max-width: 16.25em; /* 260px / 16px */
}

input::placeholder {
    font-size: 1em; /* 16px */
    /*opacity: 100%;*/
    font-family: "DM Sans", sans-serif;
}

input:focus {
    outline: none;
}
/*------------*/
/* CTA BUTTON */
/*------------*/
.cta {
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.938em; /* 15px / 16px */
    padding: 1em 1.5em; /* 16px et 24px / 16px */
    border: 1px solid var(--white);
    border-radius: 22px;
    transition: 0.3s;
    text-align: center;
}

.primary {
    color: var(--black);
    background-color: var(--white);
    font-weight: 500;
}

.primary:hover {
    background-color: transparent;
    color: var(--white);
}

.secondary {
    color: var(--white);
    border: 1px solid white;
    margin-right: 1.25em; /* 20px / 16 */
}

.secondary:hover {
    color: var(--black);
    background-color: var(--white);
}

.third {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);
}

.third:hover {
    color: black;
    background-color: var(--white);
    border: 1px solid var(--black);
}
/*--------*/
/* HEADER */
/*--------*/
header {
    display: flex;
    align-items: center;
    padding: 0.938em 0; /* 15px / 16px */
    /*margin: 0 auto;*/
    border-bottom: 1px solid var(--dark-grey);
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 0;
    /*max-width: 1200px;*/
}

.header-list {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-list h2 {
    margin: 0;
    line-height: 0;
}

.header-list h2 a,
footer nav h3 {
    font-size: 0.762em; /* 32px / 42px */
    letter-spacing: 0.027em;
    text-decoration: none;
}

.main-nav {
    display: flex;
}

.main-list {
    display: flex;
    align-items: center;
    margin-right: 3.125em; /* 50px / 16px */
}

.main-list a,
.main-list .dropdown-btn {
    display: inline-block;
    font-size: 1.125em; /* 18px / 16px */
    text-decoration: none;
    padding: 20px;
    transition: 0.3s;
    margin: 0.625em 0; /* 10px / 16px */
    line-height: 1.43em;
}

.main-list a:hover,
.main-list .dropdown-btn:hover {
    color: var(--dark-grey);
}

.main-nav .btn-list {
    display: flex;
    align-items: center;
}

.dropdown-btn {
    cursor: pointer;
}

/*--------------*/
/* HERO SECTION */
/*--------------*/
.hero-section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../img/hero-img.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #282828;
}

.hero-section h2 {
    font-size: 4.375em; /* 70 / 16 */
    max-width: 11.629em; /* 814 / 70 */
    text-align: center;
    display: block;
    margin-bottom: 0.857em; /* 60 / 70 */
    color: var(--white);
    line-height: 1.15em;
}

/* CONTACT SECTION */

.contact-section {
    padding: 3.125em 0 2.5em 0; /* 50 / 16 et 40 / 16*/
    border-bottom: 1px solid var(--dark-grey);
}

.contact-list {
    display: flex;
    justify-content: space-between;
}

.contact-list li {
    display: flex;
    flex-direction: column;
}

.contact-list li:last-child {
    flex-direction: row;
}

.contact-list li:last-child > div {
    margin-right: 3.75em; /* 60 / 16 */
}

.contact-list li:last-child > a {
    align-self: center;
}

/* ABOUT SECTION */

.about-section {
    border-bottom: 1px solid var(--dark-grey);
}

.about-info {
    position: relative;
}

.list-info:before {
    content: '';
    left: 0.938em; /* 15 / 16 */
    right: 0.938em; /* 15 / 16 */
    border-radius: 7px;
    top: 3.75em; /* 60 / 16 */
    bottom: 3.75em; /* 60 / 16 */
    border: 1px solid var(--dark-grey);
    position: absolute;
    z-index: -1;
}

.list-info {
    display: flex;
    column-gap: 3.75em; /* 60 / 16 */
    justify-content: space-between;
}

/* IMG */

.secondary-img,
.third-img {
    position: absolute;
}

.secondary-img {
    top: 10%;
    left: -25%;
}

.third-img {
    bottom: 3%;
    right: -15%;
}

.main-img {
    object-fit: cover;
    max-width: 30.5em; /* 488 / 16 */
    width: 100%;
    max-height: 40.625em; /* 650 / 16 */
}

.imgs-li {
    position: relative;
    margin-left: 5em; /* 80 / 16 */
    max-width: 50%;
}

/* TEXT */

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.about-link {
    margin: 1.25em 0 0.625em 0; /* 20 / 16 et 10 / 16*/
}

/* OPINION SECTION */

.opinion-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8.125em; /* 130 / 16 */
    max-width: 75em; /* 1200 / 16 */
    margin: 0 auto;
    padding-left: 0.938em; /* 15 / 16 */
    padding-right: 0.938em; /* 15 / 16 */
}

.opinion-section h2 {
    max-width: 9.619em; /* 404 / 42 */
}

.opinion-section p {
    font-size: 1.125em; /* 18 / 16 */

}

.opinion-cards {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5em; /* 40 / 16 */
}

.opinion-cards li {
    padding: 1.563em; /* 25 / 16 */
    border: 1px solid var(--dark-grey);
    border-radius: 7px;
}

.opinion-cards li h3 {
    margin-top: 0;
    display: inline-block;
    font-size: 1.25em; /* 20 / 16 */
    background-color: #282828;
    margin-bottom: 1em; /* 20 / 20 */
    padding: 1em 1em;
    border-radius: 7px;
}

.opinion-cards li p {
    font-size: 1em; /* 16 */
}

/* SKILL SECTION */

.skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--dark-grey);
}

.skill-section h2 {
    max-width: 8.69em; /* 365 / 42 */
    text-align: center;
}

.skill-section > p {
    font-size: 1.125em; /* 18 / 16 */
    max-width: 31.667em; /* 570 / 18 */
    text-align: center;
    margin-bottom: 3.333em; /* 60 / 18 */
}

.skill-section article {
    grid-column-gap: 3.75em; /* 60 / 16 */

}

.skill-section figure {
    max-width: 38.188em; /* 611 / 16 */
}

.skill-section article img {
    width: 100%;
    min-height: 23.313em; /* 373 / 16 */
    object-fit: cover;
    object-position: left;
    border-radius: 7px;
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills-list h3 {
    font-size: 1.75em; /* 28 / 16 */
}

.skills-list h3:before {
    content: url("../img/icons/check.svg");
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.536em; /* 15 / 28 */
}

/* FORMATION SECTION */

.formation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
}

.formation-section h2 {
    max-width: 11.31em; /* 475 / 42 */
    text-align: center;
}

.formation-section > p {
    font-size: 1.125em; /* 18 / 16 */
    max-width: 31.667em; /* 570 / 18 */
    text-align: center;
    margin-bottom: 3.333em; /* 60 / 18 */
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5em; /* 40 / 16 */
    width: 100%;
}

.formation-card {
    display: flex;
    flex-direction: column;
    padding: 1.25em 2.5em; /* 20 / 16 et 40 / 16 */
    border-radius: 7px;
    border: 1px solid var(--dark-grey);
}

.formation-card h3 {
    font-size: 1.375em; /* 22 / 16 */
    line-height: 1.15em;
    margin-bottom: 0.455em; /* 10 / 22 */
}

.formation-card small {
    font-size: 1em;
    line-height: 1.438em; /* 23 / 16 */
    color: var(--gray);
    margin: 0 0 1.25em 0; /* 20 / 16 */
}

.formation-card time {
    font-size: 3.5em; /* 56 / 16 */
    font-weight: 400;
    padding-bottom: 0.357em; /* 20 / 56 */
    border-bottom: 1px solid var(--dark-grey);
}

.formation-card a {
    margin: 1.313em 0; /* 21 / 16 */
}

.formation-card ul {
    list-style-type: initial;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 1px solid var(--dark-grey);
    padding-top: 1.25em; /* 20 / 16 */
}

.formation-card ul li {
    font-size: 1.125em; /* 18 / 16 */
    color: var(--gray);
    margin: 0.556em 0; /* 10 / 18 */
}

.alternative-card {
    background-color: var(--white);
    color: var(--black);
}

.alternative-card h3 {
    color: var(--black);
}

.alternative-card ul li {
    color: var(--black);
}

/* CONTACT SECTION */

.footer-contact-section {
    padding-top: 0;
    border-bottom: 1px solid var(--dark-grey);
}

.footer-contact-list article {
    display: flex;
}

.footer-contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.75em 5em; /* 60 / 16 et 80 / 16 */
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/map.webp");
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 7px;
    border: 1px solid var(--dark-grey);
    height: 100%;
}

.footer-contact-section article h3 {
    font-size: 2.125em; /* 34 / 16 */
    line-height: 1.15em;
    max-width: 7.941em; /* 270 / 34 */
}

.footer-contact-list li:nth-child(2) {
    margin: 1.25em 0; /* 20 / 16 */
}

.footer-contact-list li:last-child {
    margin-top: 1.25em; /* 20 / 16 */
}

.footer-contact-section article p {
    font-size: 1em;
    max-width: 16.875em; /* 270 / 16 */
    margin: 0;
}

/* FOOTER */

footer {
    padding: 3.75em 0 5em 0; /* 80 / 16 et 60 / 16 */
}

footer nav {
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: 3.75em; /* 60px */
}

footer nav h3 {
    font-size: 2em; /* 32 / 16 */
}

.footer-list {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.footer-list a {
    font-size: 1.375em; /* 22 / 16 */
    line-height: 1.16em;
}

.social-list {
    display: flex;
    align-items: center;
}

.social-list a {
    display: inline-flex;
    font-size: 1.125em; /* 18 / 16 */
    text-indent: -9999px;
    min-width: 1.944em; /* 35 / 18 */
    line-height: 1.944em; /* 35 / 18 */
    border: 1px solid var(--white);
    border-radius: 7px;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.instagram {
    margin: 0 1.667em; /* 30 / 18 */
    background-image: url("../img/icons/instagram.svg");
}

.facebook {
    background-image: url("../img/icons/facebook.svg");
}

.twitter {
    background-image: url("../img/icons/twitter.svg");
}

footer .contact-list {
    padding-top: 3.125em; /* 50 / 16 */
}

footer form {
    display: flex;
    flex-direction: column;
    min-width: 21.875em; /* 350 / 16 */
}

footer form > label {
    margin-top: 10px;
    color: var(--gray);
}

footer form > input {
    margin: 0.625em 0; /* 10 / 16 */
    width: 100%;
    max-width: inherit;
}

footer form > button {
    margin-top: 2em; /* 30 / 15 */
}