.contact {
  padding: 50px 15px 45px 15px;
  border-bottom: 1px solid $gray;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__title {
      font-size: 17px;
      text-align: center;
    }

    & > li {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }
}

.contact-mail-wrapper {
  margin-bottom: 20px;
}

.contact-mail {
  color: $white;
  margin: 10px 0;
}

@media screen and (width > $med_screen) {
  .contact {

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      & > li:last-child {
        grid-column: span 2;
        width: 50%;
        justify-self: center;
      }
    }
  }
}

@media screen and (width > $wide_screen) {
  .contact {
    padding: 50px 0 40px 0;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > li {
        align-items: flex-start;
      }

      & address {
        margin: 10px 0;
      }

      & > li:last-child {
        flex-direction: row;
        align-items: center;
        width: auto;
      }
    }
  }

  .contact-mail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    margin-bottom: 0;
  }
}