@import '../var';

.footer__contact {
  padding-top: 0;

  & h3 {
    font-size: 32px;
    width: 10em;
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $gray;
    border-radius: 7px;
    row-gap: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../img/map.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & p {
      font-size: 16px;
      width: 20em;
    }

    & a:last-child {
      margin-top: 10px;
    }
  }
}

@media screen and (width > $med_screen) {
  .footer__contact {

    &__list {
      align-items: flex-start;
      text-align: left;
      padding: 40px;
      background-position: right;
      background-size: contain;

      & > h3 {
        font-size: 34px;
      }
    }
  }
}

@media screen and (width > $wider_screen) {
  .footer__contact {
    &__list {
      padding: 60px 80px;
    }
  }
}