@import '../var';

.opinion {
  background-image: url("../../img/opinion-background.webp");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    & > p {
      font-size: 18px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      grid-row-gap: 16px;
    }
  }
}

.opinion__card {
  padding: 1.563em; /* 25 / 16 */
  border: 1px solid $gray;
  border-radius: 7px;
  background-color: $black;

  &__title {
    margin-top: 0;
    display: inline-block;
    font-size: 1.25em;
    background-color: #282828;
    margin-bottom: 1em;
    padding: 1em 1em;
    border-radius: 7px;
  }
}

@media screen and (width > $med_screen) {
  .opinion {
    &__wrapper {
      align-items: center;

      & > h2 {
        width: 50%;
      }

      & > p {
        margin-bottom: 80px;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-column-gap: 20px;

        & > li:last-child {
          grid-column: span 2;
          width: 50%;
          justify-self: center;
        }
      }
    }
  }

  .opinion__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (width > $wide_screen) {
  .opinion {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 80px;
      text-align: left;

      & > h2 {
        width: auto;
        align-self: self-start;
      }

      & > p {
        margin-bottom: 0;
        margin-top: 10px;
      }

      &__list {
        display: flex;
        flex-direction: row;
        grid-column: span 2;

        & > li {
          flex-basis: auto;
        }

        & > li:last-child {
          width: auto;
        }
      }
    }

    &__card {
      & > p {
        margin: 10px 0;
      }
    }
  }
}

