.skill {
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: none;

  & > p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  &__wrapper {

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      & > li {
        display: flex;
      }

      &__title {
        font-size: 1.75em;
        display: inline-flex;
        align-items: center;
        column-gap: 20px;

        &::before {
          content: '✓';
          font-size: 20px;
          line-height: 1em;
          font-family: "Fa solid 900", sans-serif;
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (width > $med_screen) {
  .skill {
    & > h2 {
      width: 50%;
    }

    & > p,
    &__img {
      margin-bottom: 60px;
    }

    &__list {
      & > li {
        display: flex;
        flex-direction: column;
        text-align: left;

        & > p {
          margin: 10px 0;
        }
      }
    }
  }
}

@media screen and (width > $wide_screen) {
  .skill {
    padding-left: 0;
    padding-right: 0;

    & > p {
      width: 50%;
      margin: 10px 0 60px 0;
    }

    &__wrapper {
      display: flex;
      column-gap: 60px;
    }

    &__img {
      margin-bottom: 0;
      width: 60%;

      & > img {
        min-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
    }
  }
}