@import "var";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: black;
}

address {
  font-family: "DM Sans", sans-serif;
  color: $light_gray;
}

img {
  width: 100%;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Space Grotesk", sans-serif;
  margin: 10px 0;
  color: $white;
}

abbr {
  text-decoration: none;
}

p {
  font-family: "DM Sans", sans-serif;
  color: $light_gray;
  line-height: 1.43em;
}

a {
  font-family: "Space Grotesk", sans-serif;
  color: $white;
  transition: .3s;

  &:hover {
    color: $light_gray;
  }
}

textarea {
  font-family: DM Sans, sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
  font-size: 1em;
  background: transparent;
  border-bottom-color: currentcolor;
  border: 1px solid $gray;
  color: $white;
  border-radius: 7px;
  padding: .938em 1em;

  &::placeholder {
    font-size: 1em; /* 16px */
    font-family: "DM Sans", sans-serif;
  }

  &:focus {
    border: 1px solid $white;
  }
}

label[for="message"] {
  margin-bottom: 10px;
}

.hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 15px;
  border-bottom: 1px solid $gray;

  & > p,
  article > p {
    font-size: 18px;
  }
}

.title {
  font-size: 40px;
  line-height: 1.15em;
}

@keyframes showUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(60%);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.showUp {
  animation: showUp 1s;
  transition: .8s;
  opacity: 1;
}

.scaleUp {
  animation: scale 1s;
  transition: .1s;
  opacity: 1;
}

.no-opacity {
  opacity: 0;
}

@media screen and (width > $med_screen) {
  section {
    padding: 80px 15px;
  }
}

@media screen and (width > $wide_screen) {
  section {
    padding: 80px 0;
  }

  .base-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }

  .title {
    font-size: 42px;
  }
}

@media screen and (width > $wider_screen) {
  section {
    padding: 130px 0;
  }
}